##----growth_similarity_project(feat.smartfarm korea)----##
streamlit==1.45.1
pandas==2.2.2
numpy==1.26.4
matplotlib==3.10.0
plotly==5.24.1
tslearn==0.6.3

# tslearn 의존성 명시
#scikit-learn>=1.2
#scipy>=1.10
#numba>=0.56
#joblib>=1.3
